@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');


body{

font-size: 20px;
line-height: 1.5;
background-color: rgb(54, 3, 3);
color: rgb(255, 255, 255);
font-family: "Kanit", sans-serif;
}

img{
    width: 300px;
    display: block;
    margin: auto;
}
h1{
    font-family: "Alegreya", serif;
   
}
    a{
        color: aliceblue;
        
    }